.CompanyCard {
  width: 75%;
  max-height: 10%;
}

.CompanyCard img {
  width: 70px;
  position: relative;
  right: auto;
  bottom: 36px;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}