.company-card {
  width: 50%;
  max-height: 15%;
}

.company-image {
  /* width: 20px;
  height: 20px; */
  /* position: relative; */
  /* right: auto; */
  /* bottom: 36px; */
}

.company-title {
  font-weight: 800;
}

.company-describe {
  font-size: 1rem;
  font-weight: 100;
}





