/* Styles for JobCard.js */

.job-card {
  width: clamp(25rem, 25rem);
  overflow: none;
}

.job-title {
  max-width: 14rem;
  /* @media screen and (min-width: 768px) {
    max-width: 20rem;
  } */
  /* min-width: 15rem; */
  font-weight: 800;
}
.job-subtitle {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(0, 53, 0);
}

